.simple-slider .swiper-slide {
  height:  300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
  width: 25px;
}

.swiper-pagination {
  margin-top: 50px; 
}

.swiper-button-next,  .swiper-button-prev {
   margin-top: -50px; 
}

@media (max-width:767px) {
  .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
    display: none;
  }
}

@media (max-width:767px) {
  .simple-slider .swiper-slide {
    height: 360px;
  }
}


.simple-slider2 .swiper-slide2 {
  height:  500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.simple-slider2 .swiper-button-next2, .simple-slider2 .swiper-button-prev2 {
  width: 25px;
}

.swiper-pagination2 {
  margin-top: 50px; 
}

.swiper-button-next2,  .swiper-button-prev2 {
   margin-top: -50px; 
}

@media (max-width:767px) {
  .simple-slider2 .swiper-button-next2, .simple-slider2 .swiper-button-prev2 {
    display: none;
  }
}

@media (max-width:767px) {
  .simple-slider2 .swiper-slide2 {
    height: 360px;
  }
}

