body, html{
    min-height:100%;
    min-width:100%;
}


.daire a  {

    
    transition: width 3s;

}

.daire a  :hover{

    width: 60px;
   

}


.myarrow-down {

    position: relative;
    width: 15px;
    top: 13px;
    left: 48.8%;
    overflow: hidden;
    z-index: 3;
   
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #C80808;
  }


.inredwhitesquare{
    float:left; 
    margin-right:10px; 
    margin-bottom:10px; 
    height: 138px; 
    width: 130px; 
    border-radius: 5px; 
    background-color: #fff;
}

.inredwhitesquarelast{
    float:left; 
    height: 138px; 
    width: 130px; 
    border-radius: 5px; 
    background-color: #fff;
}

.myprev {
    background-image: url(../img/left.png);
    height: 60px;
    margin-left: 0px;
}

.mynext {
    background-image: url(../img/right.png);
    height: 60px;
    margin-left: 50px;
}

.dropdown-menu {
    min-width: 4 rem;   
}

.circlebutton{
    margin: 0px 15px; 
    width:150px; 
    display:inline-block;
}
.myli {
    padding-right: 10px;
    margin-top:5px;
}


.disabledAddToCardButton {
    
    background-color: gray;
    float:left;
    font-size:12px;
    color: #FFFFFF;
    cursor:pointer;
    border-radius:5%;
    width:130px;
    height:36px;
    padding-top:10px;
    margin-right:30px;

    cursor: not-allowed;
    pointer-events: none;
    }

.enabledAddToCardButton{

    background-color:#D79729;
    float:left;
    font-size:12px;
    color: #FFFFFF;
    cursor:pointer;
    border-radius:5%;
    width:130px;
    height:36px;
    padding-top:10px;
    margin-right:30px;
}    


.cabFormEdit {
    border: 1; 
    border-radius: 5px; 
    border-color: #C4C4C4; 
    padding-left: 5px; 
    padding-bottom: 3px; 
    background-color:#ffffff;
    width:200px;
    float: right;
    margin-bottom: 5px;
    height: 35px;
}

.cabFormLabel {
    font-size: 14px;
    width: 90%;
    margin-bottom: 5px;
    height: 35px;
    font-weight: normal;
}

.cabFormSubmit{
    font-weight:bold; 
    background-color:#DF0707;
    border: 1; 
    border-radius: 5; 
    
}